<% layout('./layouts/boilerplate') %>


<div class="row">
  <h1 class="text-center mb-2"> New Campground</h1>
  <div class="col-sm-6 offset-sm-3">
    <form action="/campgrounds" method='POST' novalidate class="validated-form" enctype="multipart/form-data">
      <div class="mb-2">
        <label class="form-label" for="title">Title</label>
        <input class="form-control" type="text" id="title" name="campground[title]" required>
        <div class="valid-feedback">Looks Good!</div>
      </div>
      <div class="mb-2">
        <label class="form-label" for="location">Location</label>
        <input class="form-control" type="text" id="location" name="campground[location]" required>
        <div class="valid-feedback">Looks Good!</div>
      </div>
      <div class="mb-2">
        <label for="">Upload Images</label>
        <div class="input-group mb-3">
          <input type="file" class="form-control" id="image" name="image" multiple>
          <label class="input-group-text" for="image">Upload</label>
        </div>
      </div>
      <!-- <div class="mb-2">
        <label class="form-label" for="image">Image Url</label>
        <input class="form-control" type="text" id="image" name="campground[image]" required>
        <div class="valid-feedback">Looks Good!</div>
      </div> -->
      <div class="mb-2">
        <label class="form-label" for="price">Campground Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price">Rs</span>
          <input type="text" class="form-control" name="campground[price]" placeholder="0.00" aria-label="price-label"
            aria-describedby="price-label" required>

        </div>
        <div class="valid-feedback">Looks Good!</div>

      </div>


      <div class="mb-2">
        <label class="form-label" for="description">Description</label>
        <textarea class="form-control" type="text" id="description" name="campground[description]" required></textarea>
        <div class="valid-feedback">Looks Good!</div>
      </div>
      <button class="btn btn-success mb-2">Submit</button>
    </form>

    <a class="btn btn-warning mb-2" href="/campgrounds">All Campgrounds</a>
  </div>